/* Navbar.css */

.navbar {
    /* background-color: #A6192E; */
    /* color: #A6192E; */
    padding: 1rem; /* Equivalent to p-4 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Light mode styles */
.ring-light {
    border: 1.5px solid #D1D5DB; /* Equivalent to ring-gray-300 */
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 0.125rem; /* Equivalent to gap-1 */
}

.text-light {
    color: black; /* Default text color */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    .navbar {
        background-color: #2c2c2c; /* Dark background for navbar */
        color: white; /* Light text color for navbar */
    }

    .search-bar {
        border: 1.5px solid #4B5563; /* Dark border */
    }

    .search-input {
        color: white; /* Light text color for input */
    }

    .search-input::placeholder {
        color: #bbb; /* Light placeholder text */
    }

    .ring-light {
        border: 1.5px solid #4B5563; /* Dark border for ring */
    }

    .text-light {
        color: white; /* Text color for dark mode */
    }
}
